@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 10px }

body {
  color: #333;
  line-height: 1.6;
  font-size: 1.6rem;
  background: #fff;
  font-family: 'Open Sans', sans-serif
}

ul { list-style: none }

a {
  color: #333;
  text-decoration: none
}

h1, h2 { font-weight: 300 }
p { margin: 1rem 0 }
img { width: 100% }
.text-center { text-align: center }

/* navbar */
.navbar {
  top: 0;
  width: 100%;
  height: 70px;
  opacity: 0.8;
  display: flex;
  position: fixed;
  padding: 0 3rem;
  color: var(--white);
  align-items: center;
  background-color: var(--dark);
  justify-content: space-between;
}

.navbar a {
  margin: 0 .5px;
  padding: 1rem 2rem;
  color: var(--white);
}

.navbar a:hover {border-bottom: 2px solid var(--warning)}
.navbar ul {display: flex}
.brand {font-weight: 400}
.navbar h1 {font-size: 3rem}
.navbar span {color: var(--warning)}

/* header */
.main-header {
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/bg-1.jpeg');
}

.main-header .content {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-header:before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.main-header * { z-index: 5; }

.main-header .content h1 { font-size: 5.5rem; }
.main-header .content p {
  font-size: 2.3rem;
  max-width: 60rem;
  margin: 2rem 0 3rem;
}

/* icons */
.icons { padding: 30px }
.icons h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.icons i {
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background: var(--primary);
}