:root {
  --dark: #343a40;
  --info: #17a2b8;
  --white: #ffffff;
  --light: #f8f9fa;
  --danger: #dc3545;
  --success: #28a745;
  --warning: #ffc107;
  --primary: #007bff;
  --secondary: #6c757d;
}

/* text colors */
.text-primary {color: var(--primary)}
.text-secondary {color: var(--secondary)}
.text-success {color: var(--success)}
.text-danger {color: var(--danger)}
.text-warning {color: var(--warning)}
.text-info {color: var(--info)}
.text-dark {color: var(--dark)}
.text-light {color: var(--light)}

/* background colors */
.bg-primary {background-color: var(--primary)}
.bg-secondary {background-color: var(--secondary)}
.bg-success {background-color: var(--success)}
.bg-danger {background-color: var(--danger)}
.bg-warning {background-color: var(--warning)}
.bg-info {background-color: var(--info)}
.bg-dark {background-color: var(--dark)}
.bg-light {background-color: var(--light)}

/* buttons */
.btn {
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
}
.btn:hover {opacity: 0.9}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
}

.btn-secondary {
  color: var(--white);
  background-color: var(--secondary);
}

.btn-success {
  color: var(--white);
  background-color: var(--success);
}


.btn-danger {
  color: var(--white);
  background-color: var(--danger);
}

.btn-warning {
  color: var(--white);
  background-color: var(--warning);
}

.btn-dark {
  color: var(--white);
  background-color: var(--dark);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.btn-outline-primary {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--dark);
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

/* flex items */
.flex-items {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.flex-items > div {
  padding: 20px;
  flex-basis: 100%;
}

/* flex column */
.flex-columns .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-columns .column { flex: 1 }
.flex-columns .column .column-1,
.flex-columns .column .column-2 { height: 100% }
.flex-columns .column-2 {
  display: flex;
  padding: 3rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-columns img {
  width: 100%;
  height: 100%;
}

.flex-columns h2 {
  font-size: 4rem;
  font-weight: 400;
}

.flex-columns p { margin: 2rem }